.formTrending {
    width: 100%;
    margin-top: 2rem;

    .formTrending__box_title {
        width: 100%;
        margin-bottom: 2rem;

        .formTrending_title {
            width: 100%;
            color: #fff;
            font-size: 2rem;
        }

        .formTrending_icon {
            margin-left: .5rem;
            fill: red;
            color: red;
        }
    }

    .formTrending__box_items {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        .formTrending_items {
            width: 100%;
            background-color: #fff;
            border-radius: 1.5rem;
            -webkit-border-radius: 1.5rem;
            -moz-border-radius: 1.5rem;
            -ms-border-radius: 1.5rem;
            -o-border-radius: 1.5rem;
            padding: 1rem;

            a {
                width: 100%;
                text-decoration: none;
                color: #000;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: calc(100% + 1rem);
                    height: calc(100% + 1rem);
                }

                position: relative;



                .formTrending__box_img {
                    width: 100%;

                    img {
                        width: 100%;
                        border-radius: 1.5rem;
                        -webkit-border-radius: 1.5rem;
                        -moz-border-radius: 1.5rem;
                        -ms-border-radius: 1.5rem;
                        -o-border-radius: 1.5rem;
                        max-height: 14.8rem;
                        min-height: 14.8rem;
                        height: 100%;
                    }
                }

                .formTrending__box_name_song {
                    width: 100%;
                    display: flex;



                    .formTrending__name_song {
                        font-size: 1.3rem;
                        opacity: 0.7;

                    }

                    .formTrending__name_title_song {
                        flex: 1;
                        display: block;
                        display: -webkit-box;
                        font-size: 1.3rem;
                        opacity: 0.9;
                        font-weight: bold;
                        font-style: italic;
                        width: 90%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;


                    }

                }

                .formTrending__box_name_singer {
                    @extend .formTrending__box_name_song;

                    .formTrending__name_title_singer {
                        flex: 1;
                        display: block;
                        display: -webkit-box;
                        font-size: 1.3rem;
                        opacity: 0.9;
                        font-weight: bold;
                        font-style: italic;
                        width: 90%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                    }

                    .formTrending__name_singer {
                        font-size: 1.3rem;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .formTrending {
        width: 100%;
        margin-top: 2rem;

        .formTrending__box_title {
            width: 100%;
            margin-bottom: 2rem;

            .formTrending_title {
                width: 100%;
                color: #fff;
                font-size: 2rem;
            }

            .formTrending_icon {
                margin-left: .5rem;
                fill: red;
                color: red;
            }
        }

        .formTrending__box_items {
            width: 100%;
            display: flex;
            gap: 2rem;
            overflow-x: scroll;

            .formTrending_items {
                width: 100%;
                min-width: 30rem;
                background-color: #fff;
                border-radius: 1.5rem;
                -webkit-border-radius: 1.5rem;
                -moz-border-radius: 1.5rem;
                -ms-border-radius: 1.5rem;
                -o-border-radius: 1.5rem;
                padding: 1rem;

                a {
                    width: 100%;
                    text-decoration: none;
                    color: #000;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: calc(100% + 1rem);
                        height: calc(100% + 1rem);
                    }

                    position: relative;



                    .formTrending__box_img {
                        width: 100%;

                        img {
                            width: 100%;
                            border-radius: 1.5rem;
                            -webkit-border-radius: 1.5rem;
                            -moz-border-radius: 1.5rem;
                            -ms-border-radius: 1.5rem;
                            -o-border-radius: 1.5rem;
                            max-height: 14.8rem;
                            min-height: 14.8rem;
                            height: 100%;
                        }
                    }

                    .formTrending__box_name_song {
                        width: 100%;
                        display: flex;



                        .formTrending__name_song {
                            font-size: 1.3rem;
                            opacity: 0.7;

                        }

                        .formTrending__name_title_song {
                            flex: 1;
                            display: block;
                            display: -webkit-box;
                            font-size: 1.3rem;
                            opacity: 0.9;
                            font-weight: bold;
                            font-style: italic;
                            width: 90%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;


                        }

                    }

                    .formTrending__box_name_singer {
                        @extend .formTrending__box_name_song;

                        .formTrending__name_title_singer {
                            flex: 1;
                            display: block;
                            display: -webkit-box;
                            font-size: 1.3rem;
                            opacity: 0.9;
                            font-weight: bold;
                            font-style: italic;
                            width: 90%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                        }

                        .formTrending__name_singer {
                            font-size: 1.3rem;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}